<div class="chat-header">
    Web Shake ({{user?.sub}})
    <div class="button-group">
        <p-button icon="pi pi-external-link" label="Requests" [raised]="true" (onClick)="visible=true"></p-button>
        <p-button severity="danger" icon="pi pi-sign-out" label="Logout" [raised]="true" (onClick)="logout()"></p-button>
        <!-- <button class="btn btn-primary" (click)="addMember()">Add Member</button> -->
        <!-- <button class="btn btn-danger" (click)="logout()">Logout</button> -->
    </div>
</div> 
<p-dialog header="Connection Request" [modal]="true" [(visible)]="visible" [style]="{ width: '80rem' }">
    <!-- <p-button icon="pi pi-share-alt" label="Invite" [raised]="true" size="small"></p-button> -->
        <div class="card flex justify-content-center">##{{reqUser | json}}##
        <p-autoComplete
            [(ngModel)]="reqUser"
            [suggestions]="autoUserList"
            (completeMethod)="searchUsers($event)"
            field="username"
            [dropdown]="true" 
            (onSelect)="onUserSelect($event)"
            (onClear)="onUserClear($event)"
            [placeholder]="'User Name'" />
        <p-button *ngIf="reqUser?.id" [disabled]="!reqUser?.id" icon="pi pi-user" label="Invite" [raised]="true" size="small" (onClick)="requestUser()"></p-button>

    </div>
    <div class="card">
        <p-tabView>
            <p-tabPanel *ngFor="let tab of tabs" [header]="tab.title">
                <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true"
                    [rows]="10"
                    [scrollable]="true"
                    scrollHeight="300px"
                    [resizableColumns]="true"
                    [rowsPerPageOptions]="[5, 10, 20]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Username</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.username }}</td>
                            <td>{{ product.status }}</td>
                            <td>

                                <p-button *ngIf="tab.value==2" icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true" />
                                <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger " />
                                <!-- <p-button [severity]="tab.value== 1 ? 'warning' : 'Primary'" [label]="tab.value== 1 ? 'Deny' :'Accept'" [text]="true" [raised]="true" [rounded]="true" size="small"/></td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>
    </div>
</p-dialog>