.chat-header {
    background-color: #9999b5;
    color: rgb(5, 5, 5);
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    border-bottom: 1px solid #ccc;
}

.button-group {
    display: flex; 
    gap: 5px; 
  }

  .empty-state {
    text-align: center;
    margin-top: 20px;
    color: #888;
}

.empty-state i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ccc;
}