/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

emoji-picker {
    --emoji-size: 32px;
    --emoji-font-size: 24px;
    --emoji-color: #333;
  }

  .status-container {
    margin-right: 10px; /* Space between the name and status indicator */
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray; /* Default state (offline) */
}

.status-indicator.online {
    background-color: green; /* Online state */
}

.status-indicator.offline {
    background-color: red; /* Offline state */
}